body {
    background: white;
    min-height: 100vh;
}




.first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.firstWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstPara {
    position: relative;
    margin-left: 100px;
    width: 400px;
    height: auto;
    width: 50%;
}

.firstPara .arth3 {
    color: #f58025;
    transform: rotate(-4deg);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    /* margin-right: -200px; */

}

.firstPara .one {
    position: absolute;
    margin-left: -0.744em;
    margin-top: -12px;
    mix-blend-mode: darken;
}

.firstPara .arth1 {
    text-transform: uppercase;
    font-size: 43px;
    color: #29B0A7;
    margin-left: 0.744em;
}

.two {
    position: absolute;
    margin-top: -20px;
    margin-left: 200px;
    mix-blend-mode: darken;
}

.firstPara .artPara {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
}

.firstPara .orderButton {
    position: relative;
    display: flex;
    height: 50px;
    width: 120px;
    background: repeating-conic-gradient(from var(--order), rgb(255, 153, 0) 0%, rgb(255, 153, 0) 5%, transparent 5%, transparent 40%, rgb(255, 153, 0) 50%);
    margin-top: 17px;
    border-radius: 20px;
    animation: rotate 4s linear infinite;
}

.firstPara .orderButton::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: repeating-conic-gradient(from var(--order), rgb(14, 159, 226) 0%, rgb(14, 159, 226) 5%, transparent 5%, transparent 40%, rgb(14, 159, 226) 50%);
    animation: rotate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
}

.firstPara .orderButton::after {
    content: '';
    position: absolute;
    background: #29B0A7;
    inset: 2px;
    border-radius: 20px;
    border: 6px solid white;
}

.firstPara .orderNow {
    position: relative;
    background: transparent;
    color: aliceblue;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
    height: 50px;
    width: 120px;
    transition: 0.5s ease;


}

.firstPara .orderNow:hover {
    background: rgba(0, 0, 0, 0.1);

}



.firstImg video {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: -250px;
    width: 65%;
    height: 40%;
    margin-left: 200px;
    border-radius: 50%;
}

.second {
    margin-top: 100px;
}

.second .arth1 {
    text-align: center;
    font-size: 38px;
    font-family: "eds-market-regular-slant", sans-serif;
    text-align: center;
    font-family: cursive;
    font-weight: 600;

}

.secondPara {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 80px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;



}

.parent {

    width: 80%;
    border-radius: 60px;
    overflow: hidden;
    line-height: 2em;
    /* border-radius: 20px; */
}

.son {
    /* position: absolute; */
    z-index: 3;
    display: flex;
    width: 35%;
    float: right;
    background-color: #29B0A7;
    color: #000;

}

.son span {
    font-style: italic;

}

.son a {
    text-decoration: none;
    /* margin: 200px 100px 100px 100px; */
    border: 1px solid #000;
    padding: 5px;
    border-radius: 20px;
    color: #000;
}

.son a:hover {
    background-color: #000;
    color: white;
    text-decoration: underline;
}

.daughter {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.one {
    display: inline-block;
    /* margin-left: 120px; */
    
}

.one h2 {
    /* margin-bottom: 50px; */
    color: #f58025;
    font-size: 22px;
}

.one h2,
h1 {
    margin: 30px;
}

.one h1 {
    /* margin-top: 70px; */
    color: #29B0A7;
    font-size: 42px;


}

.one .para,
.text {
    margin-top: -70px;
    margin-left: 450px;

}

.one .para {
    font-size: small;
}

.one .text {
    font-style: oblique;
    font-weight: bolder;
    font-size: 22px;
}


.two img {
    z-index: -30;
    /* position: sticky; */
    /* display: none; */
    margin-left: -190px;
    margin-top: 170px;
    border-radius: 40px;
}

.wrapper2 {
    
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;



}

.parent2 {
    display: none;
    width: 80%;
    border-radius: 60px;
    overflow: hidden;
    line-height: 2em;
    /* border-radius: 20px; */
}

.son2 {
    z-index: -3;
    display: flex;
    width: 35%;
    float: right;
    background-color: #F58025;;
    color: #000;

}

.son2 span {
    font-style: italic;

}

.son2 a {
    text-decoration: none;
    /* margin: 200px 100px 100px 100px; */
    border: 1px solid #000;
    padding: 5px;
    border-radius: 20px;
    color: #000;
}

.son2 a:hover {
    background-color: #000;
    color: white;
    text-decoration: underline;
}

.daughter2 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.one {
    display: inline-block;
    /* margin-left: 120px; */
    
}

.one h2 {
    /* margin-bottom: 50px; */
    color: #f58025;
    font-size: 22px;
}

.one h2,
h1 {
    margin: 30px;
}

.one h1 {
    /* margin-top: 70px; */
    color: #29B0A7;
    font-size: 42px;


}

.one .para,
.text {
    margin-top: -70px;
    margin-left: 450px;

}

.one .para {
    font-size: small;
}

.one .text {
    font-style: oblique;
    font-weight: bolder;
    font-size: 22px;
}


.sis img {
    margin-left: -197.9px;
    margin-top: 190px;
}


.wrapper3 {
    
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;



}

.parent3 {
    display: none;
    /* border: 2px solid rgb(15, 1, 1); */
    width: 80%;
    border-radius: 60px;
    overflow: hidden;
    line-height: 2em;
    /* border-radius: 20px; */
}

.son3 {
    z-index: -3;
    display: flex;
    width: 35%;
    float: right;
    background-color: #F1BB02;
    color: #000;

}

.son3 span {
    font-style: italic;

}

.son3 a {
    text-decoration: none;
    /* margin: 200px 100px 100px 100px; */
    border: 1px solid #000;
    padding: 5px;
    border-radius: 20px;
    color: #000;
}

.son3 a:hover {
    background-color: #000;
    color: white;
    text-decoration: underline;
}

.daughter3 {
    width: 55%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.one {
    display: inline-block;
    /* margin-left: 120px; */
    
}

.one h2 {
    /* margin-bottom: 50px; */
    color: #f58025;
    font-size: 22px;
}

.one h2,
h1 {
    margin: 30px;
}

.one h1 {
    /* margin-top: 70px; */
    color: #29B0A7;
    font-size: 42px;


}

.one .para,
.text {
    margin-top: -70px;
    margin-left: 450px;

}

.one .para {
    font-size: small;
}

.one .text {
    font-style: oblique;
    font-weight: bolder;
    font-size: 22px;
}


.sis2 img {
    /* position: absolute; */
    /* display: none; */
    margin-left: -197.7px;
    margin-top: 180.9px;
    /* border-radius: 60px; */
}
















































@media only screen and (max-width:932px) {
    .first .firstWrap {
        display: block;
    }

}

@media only screen and (max-width: 563px) {
    .firstImg video {
        margin-left: 55px;
        margin-right: 0;
        margin-top: 15px;
    }

    .secondPara {
        font-size: 16px;
    }

    .second .arth1 {
        font-size: 22px;
        margin-left: 10px;
        /* width: 100%; */
    }
}

@media only screen and (max-width: 423px) {
    .firstPara .one {
        text-align: center;
        font-size: 18px;
        transform: none;
        /* margin-left: -70px; */
    }

    .firstPara .arth1 {
        text-align: center;
        font-size: 30px;
        margin-left: -70px;
        text-align: center;
    }

    .firstPara .two {
        text-align: center;
        transform: none;
        font-size: 18px;
        margin-left: 70px;
        margin-bottom: 0;
    }

    .firstPara .artPara {
        margin-left: -60px;
        text-align: center;
        font-size: 13px;

    }

    .second .arth1 {
        font-size: 23px;
    }

    .secondPara {
        font-size: 13px;
    }

}